#siteHeader{
    background: #74B3CE;
}
#sidebar{
    background: #508991;
}
#movieSecton{
    background: #172A3A;
}
#instructions{
    display: block;
}
#showmovie{
    display: none;
}
#footer {
    background: #004346;
}
#home{
    height: 100%;
}
section{
    background: #09BC8A;
    margin: 15px;
    
}
#castform{
    background: #09BC8A;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto
}
header{
    justify-content: center;
}
#selectrate {
    margin-left: 5px;
}

.nowrap{
    white-space: nowrap;
}
.grid-x>.medium-11{
    margin: 5px;
}
.formbuttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button.success.button{
    width: 50%;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #172A3A ;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}